<!DOCTYPE html>
<html lang="en">
<head>
    {% block extra_head %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Intellicap{% endblock %}</title>
    <meta name="description" content="Intellicap - あなたのインテリジェントな資本管理プラットフォーム。">
    <meta name="author" content="AngrySatan666">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main_page.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<header>
    {% block header %}{% endblock %}
</header>
<body>
    {% block body %}{% endblock %}
    {% block content %}{% endblock %}
</body>
<footer>
    {% block footer %}
    <hr>
    <div class="container text-center py-3">
        <small>&copy; Intellicap. 全著作権所有。</small>
    </div>
    {% endblock %}
</footer>
</html>
